<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Overview</h1>
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center">
      <h2 class="text-center">Selected {{selectedPeriod}} Period</h2>
      <h3 class="text-center">{{currentDateRange}}</h3>
      <div class="row justify-content-center">
        <div class="col-4">
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" class="form-control" [value]="today" (change)="changeDate($event.target.value)">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h4>You have spent a total of ${{getTotalSpent()}} out of a total budgeted amount of ${{getTotalBudget()}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <canvas baseChart
        [data]="graphData.numbers"
        [labels]="graphData.labels"
        [chartType]="'pie'">
      </canvas>
    </div>
  </div>
</div>
