<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Overview</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text-center">Selected {{selectedPeriod}} Period</h2>
      <h3 class="text-center">{{currentDateRange}}</h3>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" id="date" class="form-control" [value]="today" (change)="changeDate($event.target.value)">
      </div>
    </div>
  </div>
</div>
