#info {
  background-image: linear-gradient(to bottom right, #FE621D, #E6C229);
  color: white;

}

#login {
  z-index: 20;
  margin: auto;
  width: 50%;
  padding: 10px;
  background: #AF3800;
  color: white;
  border: 1px #AF3800;
  border-radius: 10px;
}

.btn-primary {
  background-color: #2E4057;
}

#main.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}
