/* #bg1 {
  background-color: #E6E8E6;
}
#bg2 {
  background-color: #CED0CE;
}
#bg3 {
  background-color: #9FB8AD;
}
#bg4 {
  background-color: #475841;
}
#bg5 {
  background-color: #3F403F;
}
#background {
  position: absolute;
} */

#info {
  background-image: linear-gradient(to bottom right, #FE621D, #E6C229);
  color: white;

}

#login {
  z-index: 20;
  margin: auto;
  width: 50%;
  padding: 10px;
  background: #AF3800;
  color: white;
  border: 1px #AF3800;
  border-radius: 10px;
}

.btn-primary {
  background-color: #2E4057;
}

#main.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}
