.category:hover {
  text-decoration: none;
  background: #E6C229;
  color: #2E4057;
}

.category.active {
  background-color: #E6C229;
  color: #2E4057;
}

.category {
  background-color: #AF3800;
  color: white;
}
