<app-search-bar></app-search-bar>
<div class="container">
  <li class="list-group-item rounded">
    <div class="row">
      <div class="col">
        <h6>Name</h6>
      </div>
      <div class="col">
        <h6>Amount</h6>
      </div>
      <div class="col text-right">
        <h6>Date</h6>
      </div>
    </div>
  </li>
  <app-transaction-item *ngFor="let t of currentTransactions; let i=index" [transaction]="t" [index]="i"></app-transaction-item>
  <hr>
  <button class="btn btn-light mx-1 btn-sm" *ngFor="let n of pages" value="n" (click)="changePage(n)">{{ n }}</button>
</div>
