<div class="container-fluid">
  <div class="row vh-100 display-flex">
    <div class="col">
      <div class="row holders">
        <div class="col">
          <app-summary></app-summary>
        </div>
        <div class="col">
          <app-income-display></app-income-display>
        </div>
      </div>
      <div class="row h-100 overflow-auto holders">
        <app-accounts-list></app-accounts-list>
      </div>
    </div>
    <div class="col overflow-auto holders">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
