<div class="container-fluid">
  <div class="row vh-100">
    <div class="col">
      <div class="row h-25" style="border: 3px solid #7C5869; background-color: #9D96B8;">
        <app-summary></app-summary>
      </div>
      <div class="row h-75" style="border: 3px solid #7C5869; background-color: #9D96B8;">
        <app-accounts-list></app-accounts-list>
      </div>
    </div>
    <div class="col" style="border: 3px solid #7C5869; background-color: #9D96B8;">
      <app-account-details>
      </app-account-details>
    </div>
  </div>
</div>
