<div class="container-fluid">
  <div class="row vh-100">
    <div class="col-3">
      <div class="row h-25" style="border: 3px solid #515251; background-color: #3F403F;">
        <app-income></app-income>
      </div>
      <div class="row h-75 overflow-auto" style="border: 3px solid #515251; background-color: #3F403F;">
        <p>List of goals/categories here?</p>
      </div>
    </div>
    <div class="col overflow-auto" style="border: 3px solid #515251; background-color: #3F403F;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
