<div class="container mt-5" *ngIf="!account;">
  <h1 class="text-center">Click on an account for more details</h1>
</div>
<div class="container" *ngIf="account">
  <h1 class="text-center">{{ account.name }}.</h1>
  <p class="text-center"><small>A {{ account.formatType() }}</small></p>
  <hr>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-outline-dark my-auto" (click)="onNewTransaction()">Add Transaction</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-transaction-list></app-transaction-list>
</div>
