<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header text-center">
          <h3> Total: <span [ngClass]="{'positive': total>0, 'negative': total<0}">${{ total }}</span></h3>
        </div>
        <div class="card-body">
          <li>{{getCheckingAccounts()}} Checking {{getCheckingAccounts() == 1 ? 'Account' : 'Accounts'}} holding
            ${{ getCheckingAmount() }}</li>
          <li>{{getSavingAccounts()}} Savings {{getSavingAccounts() == 1 ? 'Account' : 'Accounts'}} holding
            ${{ getSavingsAmount() }}</li>
          <li>{{getCC()}} Credit {{getCC() == 1 ? 'Card' : 'Cards'}} owing ${{ getCCAmount() }}</li>
        </div>
        <div class="card-footer">
          <h5 class="text-center">Main Account:</h5>
          <h6 class="text-center" *ngIf="main">{{ main.name }} - {{ main.type === 'CC' ? 'You owe:' : 'You have:'}}
            <span
              [ngClass]="{'positive': main.balance>0, 'negative': main.balance<0}">${{ main.formatBalance() }}</span>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
