<app-alert *ngIf="delete" [message]="'Are you sure you want to delete this category?'" (closeAlert)="delete = !delete" (confirmAlert)="onDelete()"></app-alert>
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="position-absolute">
        <button class="btn btn-secondary position-relative" title="Back to Summary" (click)="onBack()">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
          </svg>
        </button>
      </div>
      <div class="position-absolute buttons">
        <button class="btn btn-secondary position-relative" title="Edit Account" (click)="onEdit()">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z" />
            <path fill-rule="evenodd"
              d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z" />
            <path d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z" />
          </svg>
        </button>
        <button class="btn btn-secondary position-relative" title="Delete Account" (click)="delete = !delete">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
            <path fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
          </svg>
        </button>
      </div>
      <h4 class="text-center">{{category.name}}</h4>
      <h5 class="text-center">${{category.formatBalance()}} every {{category.period}}</h5>
      <div class="row">
        <div class="col align-self-center">
          <h2 class="text-center">Selected {{category.period}}</h2>
          <h3 class="text-center">{{currentDateRange}}</h3>
          <div class="row justify-content-center">
            <div class="col-4">
              <div class="form-group">
                <label for="date">Date</label>
                <input type="date" id="date" class="form-control" [value]="selectedDate" (change)="changeDate($event.target.value)">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h5>{{category.period == '2 Weeks' ? 'In these' : 'In this' }} {{category.period}} you spent ${{getTotal()}} out of ${{category.formatBalance()}}</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6" *ngIf="transactions.length != 0">
          <app-transaction-list [transactions]="transactions"></app-transaction-list>
        </div>
      </div>
    </div>
  </div>
</div>
